@use '../abstracts' as a;

.faq-card {
    background-color: var(--White);
    position: absolute;
    top: -100px;
    border-radius: a.rem(12);
    padding: a.rem(32);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

    @include a.bp($from: "mobile-large") {
        top: -50px;
    }

    @include a.bp($from: "tablet") {
        top: -100px;
    }

    @include a.bp($from: "desktop") {
        top: -150px;
    }

    &__header {
        @include a.flexbox($align: center, $justify: flex-start, $gap: a.rem(24));

    }

    &__icon {
        width: a.rem(32);
    }

    &__content {
        width: 100%;

        .accordion {
            padding: 0;

            li {
                padding-block: a.rem(24);
                @include a.flexbox($direction: column, $justify: center);


                border-bottom: 2px solid var(--Magnolia);

                &:last-child {
                    border-bottom: none;
                    padding-block-end: 0;
                }

                label {
                    @include a.flexbox($align: center, $justify: space-between);
                    cursor: pointer;
                    transition: color 0.2s ease-in-out;
                    outline: 2px solid transparent;


                    .icon-expand {
                        display: inline;
                    }

                    .icon-contract {
                        display: inline;
                    }

                    .hidden {
                        display: none;
                    }

                    .accordion-title {
                        text-align: left;
                        flex: 1;
                    }

                    &:hover {
                        color: var(--Electric-Violet);
                    }
                }

                input[type="checkbox"] {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    border: 0;
                    padding: 0;
                    clip: rect(0 0 0 0);
                    clip-path: inset(100%);
                    overflow: hidden;
                    white-space: nowrap;
                }

                .content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
                }
            }

            .accordion-panel {
                p {
                    color: var(--Trendy-Pink);
                }
            }

            input[type="checkbox"]:checked+label+.content {
                max-height: 1000px;
                /* fixed value */
                padding-block: 1rem;
            }

            input[type="checkbox"]:checked+label {
                .icon-expand {
                    display: none;
                }

                .icon-contract {
                    display: inline;
                }
            }

            input[type="checkbox"]:checked~.content {
                padding-block-start: a.rem(24);
            }

            input[type="checkbox"]:focus+label,
            label:focus {
                outline: 2px solid var(--Electric-Violet);
                outline-offset: 5px;
                border-radius: a.rem(10);
                color: var(--Electric-Violet);
                transition: outline 0.2s ease-in-out;
            }
        }
    }

    &__accordion-header {
        list-style: none;
    }
}