@use './functions' as *;

:root {
    /* Colors */

    // primary
    --pure-white: hsl(0, 0%, 100%);
    --purple-100: hsl(276, 100%, 97%);
    --purple-600: hsl(293, 16%, 49%);
    --purple-700: hsl(281, 83%, 54%);
    --purple-950: hsl(292, 42%, 14%);

    // naming colors
    --White: var(--pure-white);
    --Magnolia: var(--purple-100);
    --Trendy-Pink: var(--purple-600);
    --Electric-Violet: var(--purple-700);
    --Revolver: var(--purple-950);

    /* Typography */

    // font-family
    --ff: 'Work Sans', sans-serif;

    // font-size
    --fs-body: #{rem(16)};
    --fs-small: #{rem(18)};
    --fs-medium: #{rem(24)};
    --fs-large: #{rem(40)};

    // font-weight
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    // text-presets

    .text-heading-l {
        font-family: var(--ff);
        font-weight: var(--fw-bold);
        font-style: normal;
        font-size: var(--fs-large);
    }

    .text-heading-m {
        font-family: var(--ff);
        font-weight: var(--fw-bold);
        font-style: normal;
        font-size: var(--fs-body);
    }

    .text-body {
        font-family: var(--ff);
        font-weight: var(--fw-regular);
        font-style: normal;
        font-size: var(--fs-body);
    }
}